* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100vw;
    background-color: #eebaba;
    padding: 2vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10vh;
    position: relative;
    overflow-x: hidden;
}

header {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-size: 2.7em;
}

#new-button {
    font-size: 1em;
    font-weight: 600;
    color: black;
    background-color: rgb(146, 197, 161);
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px gray;
}

#new-button:hover {
    background-color: rgb(126, 238, 135);
    cursor: pointer;
    scale: 1.05;
}

#new-button:active {
    cursor: pointer;
    scale: 1.0;
}

main {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 188px);
    grid-auto-rows: 250px;
    gap: 25px;
    align-content: center;
    justify-content: center;
}

.book-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(125, 194, 95);
    color: black;
    text-align: center;
    border-radius: 7px;
    border-top-left-radius: 13px;
    border-left: 12px solid rgb(11, 94, 11);
    transition: border-left-color 0.3s;
    padding: 7px;
    box-shadow: -5px 5px 3px rgb(81, 81, 81);
    position: relative;
}

.red-border {
    border-left: 12px solid rgb(131, 13, 13);
    transition: border-left-color 0.3s;
}

.mark-read {
    position: absolute;
    right: 7px;
    bottom: 7px;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: transparent;
    color: black;
    border: none;
    font-weight: 600;
}

.mark-read:hover {
    cursor: pointer;
    scale: 1.1;
}

.mark-read:active {
    cursor: pointer;
    scale: 1.0;
}

.fa-trash {
    position: absolute;
    left: 7px;
    bottom:10px;
}

.fa-trash:hover {
    cursor: pointer;
    scale: 1.15;
}

.fa-trash:active {
    scale: 1.0;
}

#add-container.hide {
    display: none;
}

#add-container {
    position: absolute;
    top: calc((100vh - min(600px, 80vh)) / 2);
    left: calc((100% - min(500px, 80%)) / 2);
    background-color: rgb(95, 69, 33);
    color: white;
    width: 500px;
    max-width: 80%;
    height: 600px;
    max-height: 80vh;
    z-index: 1;
    border-radius: 10px;
    border: 2px solid #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 5vw;
}

#close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5em;
}

#close-button:hover {
    cursor: pointer;
    scale: 1.1;
}

#close-button:active {
    cursor: pointer;
    scale: 1.0;
}

h2 {
    font-size: 1.3em;
}

form {
    font-size: 1.2em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1em;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    height: 4vh;
    color: white;
    font-size: 0.9em;
    padding: 0 10px;
    margin-bottom: 20px;
}

input:focus {
    border-bottom: 2px solid green;
}

#submit {
    background-color: rgb(30, 176, 30);
    min-width: 30%;
    margin: auto;
    padding: 10px 50px;
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(158, 219, 68);
}

#submit:hover {
    cursor: pointer;
    scale: 1.02;
}

#submit:focus {
    cursor: pointer;
    scale: 1;
}